<div class="intro">
	<div class="intro-body">
  	<div class="container">
			<h1 class="brand-heading">Oxign</h1>
 			<p class="intro-text">Skip Average. Discover Awesome.</p>
      <div class="row">
        <div class="row collapse">
          <div class="small-4 small-centered columns">
            <%= simple_form_for @contact do |form| %> 
            <%= form.error_notification %>
            <%= form.text_field :email,:placeholder => "Enter your email address", autofocus: true  %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-2 small-centered columns">
            <%= form.button :submit, 'Sign Up', class: "button postfix" %> 
            <% end %>
          </div>
        </div>
      </div>	
			<p>Get early access!</p>
		</div>
	</div>
</div>
