<div class="intro">

	<div class="intro-body">
  	<div class="container">
			<h1 class="brand-heading">Oxign</h1>
 			<p class="intro-text">Skip Average. Discover Awesome.</p>

			<div class="row">
      			<div class="row collapse">
        			<div class="small-4 small-centered columns">
          				<input type="text" placeholder="Enter your email address">
        			</div>
    			</div>
    			<div class="row collapse">
        			<div class="small-2 small-centered columns">
          				<a href="#" class="button postfix">Sign Up</a>
        			</div>
      			</div>
    		</div>

			
			<p>Get early access!</p>


		</div>
	</div>
</div>