<%# add navigation links to this file %>
<li><%= link_to 'Sign-up', 'staticpages#about' %></li>
<li><%= link_to 'Log-in', 'staticpages#about' %></li>
<li><%= link_to 'About', 'staticpages#about' %></li>